bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/D2C.deps.json
bin/Debug/netcoreapp3.1/D2C.dll
bin/Debug/netcoreapp3.1/D2C.exe
bin/Debug/netcoreapp3.1/D2C.pdb
bin/Debug/netcoreapp3.1/D2C.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/D2C.runtimeconfig.json
bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
bin/Debug/netcoreapp3.1/DotNetty.Buffers.dll
bin/Debug/netcoreapp3.1/DotNetty.Codecs.dll
bin/Debug/netcoreapp3.1/DotNetty.Codecs.Mqtt.dll
bin/Debug/netcoreapp3.1/DotNetty.Common.dll
bin/Debug/netcoreapp3.1/DotNetty.Handlers.dll
bin/Debug/netcoreapp3.1/DotNetty.Transport.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
bin/Debug/netcoreapp3.1/Microsoft.Azure.Devices.Client.dll
bin/Debug/netcoreapp3.1/Microsoft.Azure.Devices.dll
bin/Debug/netcoreapp3.1/Microsoft.Azure.Devices.Shared.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
bin/Debug/netcoreapp3.1/Microsoft.WindowsAzure.Storage.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/D2C.csproj.codegeneration.targets
obj/D2C.csproj.nuget.dgspec.json
obj/D2C.csproj.nuget.g.props
obj/D2C.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/D2C.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/D2C.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/D2C.assets.cache
obj/Debug/netcoreapp3.1/D2C.csproj.CopyComplete
obj/Debug/netcoreapp3.1/D2C.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/D2C.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/D2C.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/D2C.dll
obj/Debug/netcoreapp3.1/D2C.exe
obj/Debug/netcoreapp3.1/D2C.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/D2C.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/D2C.pdb
obj/Debug/netcoreapp3.1/D2C.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/staticwebassets/D2C.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/D2C.StaticWebAssets.xml
